// Color Variable
$primary_color: #3386ec;
$white_color: #fff;
$footer_color: #525253;
$hover_color: black;
$error_color: red;
$nav_color: #0257bc;
$nav_background: #f7f8f9;
// Text Variable
$default_font_size: 21px;
$font_size_s: 13px;

//ContainerVaraible

$default_margin: 0 auto;

// fontVaraible

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 22px;
$font-size-default: 10px;

$btn-padding: 8px 16px;
$btn-border-radius: 0.2rem;

$default-padding: 0.5% 10%;
$default-padding2: 2% 10%;
